extends layout

block content                      
    div(class="container login container2 containertop change-container")
        a(href="/search")
            img(src="/images/yoke4.png", alt="The Yoke", class="yokelogo")
        if !messageSuccess
            h1= i18n.__("index.changepass.message3")
            p!= i18n.__("index.changepass.message1")
            div(id="ctl00_Div2" class="frontdiv results")
                div(class="alert alert-danger alertshadow displaynone", id="messagejs")
                if message
                    div(class="alert alert-danger-report alertshadow")!= message
                    script.
                        $('#messagejs').hide();
                if displayForm
                    form(action="/changepassword" method="post" id="changepwd")
                        input(name="hashid" type="hidden" id="hashid" value=hashid placeholder=hashid)
                        div(class="textentry")
                            input(name="pass" type="password" id="pass" class="pass form-control form-control0" placeholder=i18n.__("index.changepass.placeholder1"))
                            span(class="fa fa-key change-key")
                        div(class="textentry")
                            input(name="repass" type="password" id="repass" class="repass form-control form-control0" placeholder=i18n.__("index.changepass.placeholder2"))
                            span(class="fa fa-key change-key")
                        div(class="buttons")
                            button.btn.btn-success.btn-lg.btn-block(type='button' class="changepassword width-100" id="changebutton")!= i18n.__("index.changepass.button")
        if messageSuccess
            div(id="ctl00_Div2" class="frontdiv")
                h1= i18n.__("index.changepass.success")
                p!= messageSuccess