extends layout

block content
  div(class="container login front container2 containertop register-top")
     a(href="/search" class=labentered)
        img(src="/images/yoke4.png", alt="The Yoke", class="yokelogo")
       div
        if !labentered && !regsuccess && !confirmReset
            h1 #{i18n.__("register.title")}
            p(class="centralize") 
                span!= i18n.__("register.desc1")
                span(class="labColor")= i18n.__("register.title2")
                span!= i18n.__("register.subtitle")
            div(id="ctl00_Div2" class="frontdiv results")
                div(class="alert alert-danger-report alertshadow displaynone", id="messagejs1")
                if message
                    div(class="alert alert-danger-report alertshadow")!= message
                    script.
                        $('#messagejs1').hide();
                form(action="/register" method="post" id="regform1")
                    div(class="marginbottom-20")
                        div(class="textentry")
                            input(name="regfirstname" type="text" id="regfirstname" class="form-control" placeholder=i18n.__("register.form.name"))
                        div(class="textentry")
                            input(name="reglastname" type="text" id="lastname" class="form-control" placeholder=i18n.__("register.form.lastname"))
                    div(class="marginbottom-20")
                        div(class="textentry")
                            span(class="fa fa-envelope register-envelope")
                            input(name="regemail" type="text" id="regemail" class="form-control" placeholder=i18n.__("register.form.email"))
                        div(class="textentry")
                            span(class="fa fa-phone register-envelope")
                            input(name="regtel" type="text" id="tel" class="form-control" placeholder=i18n.__("register.form.tel"))
                    div(class="buttons", id="regbutton1")
                        button.btn.btn-success.btn-lg.btn-block.shadow.resizebutton(type='button') #{i18n.__("register.form.button1")}

        if labentered
            h1= i18n.__("register.form2.desc")
            p= i18n.__("register.form2.subdesc")
            div(id="ctl00_Div2" class="frontdiv results2")
                div(class="alert alert-danger-report alertshadow displaynone", id="messagejs")
                if message
                    div(class="alert alert-danger-report alertshadow")!= message
                    script.
                        $('#messagejs').hide();
                form(action="/register" method="post" id="regform2")
                    div(class="marginbottom-20")
                        div(class="textentry")
                            span(class="fa fa-user register-envelope")
                            input(name="reguser" type="text" id="reguser" class="form-control" placeholder=i18n.__("register.form2.username"))
                        div(class="textentry")
                            input(name="regpass" type="password" id="regpass" class="form-control" placeholder=i18n.__("register.form2.pwd"))
                            span(class="fa fa-key register-key")
                        div(class="textentry")
                            input(name="regverpass" type="password" id="regverpass" class="form-control" placeholder=i18n.__("register.form2.verifypwd"))

                    div(class="marginbottom-20")
                        div(class="textentry")
                            span(class="fa fa-sort register-sort")
                            select(name="reglab" type="text" id="reglab" class="form-control register-border-color" placeholder=i18n.__("register.form2.lab"))
                             if(labs != undefined)
                                 - var ob = labs
                                 - for(var prop in ob)
                                   - var lab = ob[prop].labname
                                   option(value=lab) #{lab}
                        input(name="regfirstname" type="hidden" id="regfirstname" value=firstname)
                        input(name="reglastname" type="hidden" id="reglastname" value=lastname)
                        input(name="regemail" type="hidden" id="regemail" value=email)
                        input(name="regtel" type="hidden" id="regtel" value=tel)
                    div(class="buttons", id="regbutton2")
                        button.btn.btn-success.btn-lg.btn-block.shadow.resizebutton(type='button')= i18n.__("register.form2.button2")
            
        if regsuccess && !labentered
                div(id="ctl00_Div2")
                    span(class="textalign-center")
                        h3= i18n.__("register.thanku")
                            span(class="register-success-label")!=" " + regsuccess + "!"
                        p(class="centralize")!= i18n.__("register.thanku.desc1")
        if confirmReset
                div(id="ctl00_Div2")
                    span(class="textalign-center")
                        h3!= i18n.__("register.thanku2")
                        p(class="centralize")!=" " + confirmReset + "!"